PORT=

# Database
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_DB=
REDIS_DB_BULLMQ=

JWT_SECRET=
JWT_REFRESH_SECRET=

# RusfFS
RUSTFS_ENDPOINT=
RUSTFS_ACCESS_KEY=
RUSTFS_SECRET_KEY=
RUSTFS_ENDPOINT_PORT=
RUSTFS_ENDPOINT_PORTS=
RUSTFS_CONSOLE_PORT=
RUSTFS_BUCKET=
RUSTFS_COMPRESSED_BUCKET=